<div id="viewport">
  <!-- Sidebar -->
  
  <div id="sidebar">
    <header>
      <a class='mynav' href="#">Smartvente</a>
   
    </header>
    <ul class="nav">
      <li>
        <a href="#" (click)="cruduser()">
          <i class="zmdi zmdi-view-dashboard"></i> Manager users
        </a>
      </li>
      <li>
        <a href="#" (click)="crudproduit()">
          <i class="zmdi zmdi-link"></i> Manager Produits
        </a>
      </li>
      <li>
        <a href="#" (click)="crudfournisseurs()">
          <i class="zmdi zmdi-link"></i> Manager fournisseur
        </a>
      </li>
    
  
     
    </ul>
  </div>

  <!-- Content -->

  <app-navbar></app-navbar>

    <div id="content">
           
           <app-addfournisseur *ngIf="fournisseur"></app-addfournisseur> 
            <app-addproduit *ngIf="produit"></app-addproduit>
            <app-adduser *ngIf="user"></app-adduser>
           
    </div>

  
</div>