

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">
                <div>
                    
                    <input  matInput placeholder="nom">
                    
                </div>
                <div>
                    <input  matInput placeholder="prenom">
                   
                </div>
                <div>
                    <input  matInput placeholder="Email">
                   
                </div>
                <div>
                    <input  matInput placeholder="Mobile*">
                

                </div>
                <div>
                    <input  matInput placeholder="ville">
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
          
            
                <div>
                    <mat-select  placeholder="statut">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let st of statuts">
                            <mat-option value="{{st.id}}">{{st.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                </div>
                <div>
                    <input   placeholder="adresse">
                </div>
              
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
           
        </mat-grid-tile>
    </mat-grid-list>
</form>
