<section class="carousel">
        <ul class="carousel-items">
            <li class="carousel-item">
                <div class="card">
                    <h2 class="card-title">My awesome article</h2>
                    <img src="../../../assets/userimg.jpg" />
                    <div class="card-content">
                        <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                        <a href="#" class="button">Read more</a>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                <div class="card">
                    <h2 class="card-title">Just another awesome article</h2>
                    <img src="../../../assets/userimg.jpg" />
                    <div class="card-content">
                        <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                        <a href="#" class="button">Read more</a>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                <div class="card">
                    <h2 class="card-title">Yet another awesome article</h2>
                    <img src="../../../assets/userimg.jpg" />
                    <div class="card-content">
                        <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                        <a href="#" class="button">Read more</a>
                    </div>
                </div>
            </li>
            <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One last</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                            <a href="#" class="button">Read more</a>
                        </div>
                    </div>
                </li>
        </ul>
</section>